<!--start header -->
<header>
	<div class="topbar d-flex align-items-center">
		<nav class="navbar navbar-expand">
			<div class="mobile-toggle-menu" (click)="toggleSidebar()" ><i class='bx bx-menu'></i>
			</div>
			<div class="search-bar flex-grow-1">
				<div class="position-relative search-bar-box">

					<span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
				</div>
			</div>
			<div class="top-menu ms-auto">
				<ul class="navbar-nav align-items-center">
					<li class="nav-item mobile-search-icon">
						<a class="nav-link" href="#" (click)="$event.preventDefault()">	<i class='bx bx-search'></i>
						</a>
				
				</ul>
			</div>

			<div class="user-box dropdown">
				<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret"  [routerLink]="['/korpa']" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class='bi bi-cart-plus'></i> {{ numberOfProducts }}
				</a>
				
			</div>
		</nav>
	</div>
</header>
<!--end header -->