<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">eCommerce</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a [routerLink]="['/pocetna']"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Detalji porudzbine</li>
			</ol>
		</nav>
	</div>
	<div class="ms-auto">
		<div class="btn-group">
			<button type="button" class="btn btn-light">Podesavanja</button>
			<button type="button" class="btn btn-light split-bg-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	
                <span class="visually-hidden">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
				<a class="dropdown-item" href="javascript:;">Ostale akcije</a>
				<a class="dropdown-item" href="javascript:;">Nesto drugo ovdje...</a>
				<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
			</div>
		</div>
	</div>
</div>
<!--end breadcrumb-->
<div class="card">
	<div class="card-header py-3">
		<div class="row g-3 align-items-center">
			
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="card border shadow-none radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div class="icon-box bg-light-primary border-0"> <i class="bi bi-person text-primary"></i>
							</div>
							<div class="info">
                                <table class="table table-responsive">
                                    <thead>
                                        <th>Ime</th>
                                        <th>Prezime</th>
                                        <th>Email</th>
                                        <th>Drzava</th>
                                        <th>Grad</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="email"></td>
                                            <td><select (change)="getGradovi($event)">
                                                <option class="" disabled selected value="undefined">Izaberite državu</option>
                                                <option [value]="d.id" *ngFor="let d of drzava">{{d.naziv}}</option>
                                            </select></td>
                                            <td><select  class="form-select" aria-label="Default select example">
                                                <option class="" disabled selected value="undefined">Izaberite grad</option>
                                                <option  [value]="g.drzava_id" *ngFor = "let g of grad" > {{ g.naziv_grada }}</option>
                                              </select></td>
                                        </tr>
                                    </tbody>
                                   
                                </table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="col">
				<div class="card border shadow-none radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center gap-3">
							<div class="icon-box bg-light-success border-0"> <i class="bi bi-truck text-success"></i>
							</div>
							<div class="info">
								<h6 class="mb-2">Order info</h6>
								<p class="mb-1"><strong>Shipping</strong> : Red Express</p>
								<p class="mb-1"><strong>Pay Method</strong> : Master Card</p>
								<p class="mb-1"><strong>Status</strong> : New</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border shadow-none radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center gap-3">
							<div class="icon-box bg-light-danger border-0"> <i class="bi bi-geo-alt text-danger"></i>
							</div>
							<div class="info">
								<h6 class="mb-2">Deliver to</h6>
								<p class="mb-1"><strong>City</strong> : Sydney, Australia</p>
								<p class="mb-1"><strong>Address</strong> : 47-A, Street Name,
									<br>Sydney Australia</p>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>  
		<!--end row-->
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="card border shadow-none radius-10">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table align-middle mb-0">
								<thead class="table-light">
									<tr>
										<th>Naziv</th>
										<th>Opis</th>
										<th>Tip</th>
										<th>Cijena</th>
										<th>Kolicina</th>
                                        <th>Ukloni</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let proizvod of products">
										<td>
											<div class="orderlist">
												<a class="d-flex align-items-center gap-2" href="javascript:;">
													<div class="product-box">
                                                        <img src="{{apiUrl}}/{{proizvod.slikaNaziv}}" class="img-fluid" alt="" />
                                                    </div>
													<div>
														<P class="mb-0 product-title">{{ proizvod.naziv }}</P>
													</div>
												</a>
											</div>
										</td>
										<td>{{ proizvod.opis }} </td>
										<td>{{ proizvod.nazivTipaProizvoda }} </td>
										<td><span>&euro;</span>{{ proizvod.cijena | number : '1.2-2' }}</td>
                                        <td><input type="number"  id="kolicina" (change)="getUkupnaCijena()" [(ngModel)]="proizvod.kolicina_zalihe" class="input-text" step="1" min="1" max="10000" name="quantity" value="1" title="Količina" size="4" placeholder="Količina" inputmode="numeric"></td>
                                        <td class="text-danger text-center"><i (click)="ukloniIzKorpe(proizvod)" class="bi bi-x" style='font-size:26px;cursor: pointer;'></i></td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="card border shadow-none bg-light radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center mb-4">
							<div>
								<h5 class="mb-0">Porudzbina</h5>
							</div>
							
						</div>
						<div class="d-flex align-items-center mb-3">
							<div>
								<p class="mb-0">Ukupno</p>
							</div>
							<div class="ms-auto">
								<h5 class="mb-0"><span>&euro;</span>{{ totalCijena | number : '1.2-2' }}</h5>
							</div>
						</div>
                        <div class="ms-auto">
                            <button type="button" class="btn alert-success radius-30 px-4">Potvrdi</button>
                        </div>

					</div>
				</div>
				<!-- <div class="card border shadow-none bg-warning radius-10">
					<div class="card-body">
						<h5>Payment info</h5>
						<div class="d-flex align-items-center gap-3">
							<div class="fs-1"> <i class="bi bi-credit-card-2-back-fill"></i>
							</div>
							<div class="">
								<p class="mb-0 fs-6">Master Card **** **** 8956</p>
							</div>
						</div>
						<p>Business name: Template Market LLP
							<br>Phone: +91-9910XXXXXX</p>
					</div>
				</div> -->
			</div>
		</div>
		<!--end row-->
	</div>
</div>
