
<div class="row">
    <div class="col-xl-9 mx-auto">

        <h6 class="mb-0 text-uppercase">Lista proizvoda</h6>
        <hr/>
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th scope="col">R.Broj</th>
                            <th scope="col">Naziv</th>
                            <th scope="col">Opis</th>
                            <th scope="col">Tip</th>
                            <th scope="col">Izmijeni</th>
                            <th scope="col">Cijena</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proizvod of proizvodi;">
                            <th scope="row"> {{ proizvod.id }} </th>
                            <td>{{ proizvod.naziv }}</td>
                            <td>{{ proizvod.opis }}</td>
                            <td>{{ proizvod.nazivTipaProizvoda }}</td>
                            <td><button class="btn" (click)="openEditProizvodModal(proizvod.id)"><fa-icon [icon]="faTimes" class="fa-lg" ></fa-icon></button></td>
                            <td>{{ proizvod.cijena }}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>
