<div class="card">
    <div class="card-body">
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Otkupno mjesto</th>
                    <th scope="col">Datum kupovine</th>
                    <th scope="col">Racun na ime</th>
                    <th scope="col">Dostaviti na ime</th>
                    <th scope="col">Ukupno (baza)</th>
                    <th scope="col">Ukupno (kupio)</th>
                    <th scope="col">Status</th>
                    <th scope="col">Akcija (popust)</th>
                   
                </tr>
            </thead>
            
        </table>
    </div> 
</div>
