.big-spinner {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 100;
};

.position-relative {
    position: relative;
};

.modal-header{
    background-color: rgba(51, 107, 148, 0.619);
};
.modal-body{
    background-color: rgba(51, 107, 148, 0.619);
}